.greenBlue {
	background: linear-gradient(90deg, rgba(1,204,0,1) 0%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blueGreen {
	background: linear-gradient(90deg, rgba(0,133,255,1) 0%, rgba(1,204,0,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greenRed {
	background: linear-gradient(90deg, rgba(1,204,0,1) 0%, rgba(245,63,44,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redGreen {
	background: linear-gradient(90deg, rgba(245,63,44,1) 0%, rgba(1,204,0,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.greenYellow {
	background: linear-gradient(90deg, rgba(1,204,0,1) 0%, rgba(237,235,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellowGreen {
	background: linear-gradient(90deg, rgba(237,235,48,1) 0%, rgba(1,204,0,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redYellow {
	background: linear-gradient(90deg, rgba(245,63,44,1) 0%, rgba(237,235,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellowRed {
	background: linear-gradient(90deg, rgba(237,235,48,1) 0%, rgba(245,63,44,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.redBlue {
	background: linear-gradient(90deg, rgba(245,63,44,1) 0%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blueRed {
	background: linear-gradient(90deg, rgba(0,133,255,1) 0%, rgba(245,63,44,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.yellowBlue {
	background: linear-gradient(90deg, rgba(237,235,48,1) 0%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blueYellow {
	background: linear-gradient(90deg, rgba(0,133,255,1) 0%, rgba(237,235,48,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}